:root {
  --cor-primaria:  #e21;
  --cor-primaria-escura: #900;
  --fundo-1: #f7f7f7;
  --fundo-2: #fff;
  --texto: #000;
  --subtitulo: rgba(0, 0, 0, 0.2);
  --onda: url("./imagens/onda-clara.svg");
}

@media (prefers-color-scheme: dark) {
  :root {
  --fundo-1: #111;
  --fundo-2: #000;
  --texto: #fff;
  --subtitulo: rgba(255, 255, 255, 0.2);
  --onda: url("./imagens/onda-escura.svg");
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: var(--fundo-1);
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
  color: var(--texto);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  justify-items: center;
  gap: 3.75rem;
}

.menu {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
}

.menu a {
  background: var(--fundo-2);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  color: var(--texto);
  text-transform: uppercase;
  display: block;
  border: 2px solid var(--fundo-2);
}

.menu:hover {
  border-color:  var(--cor-primaria);
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 62.5rem;
}

.introducao {
  background: var(--fundo-2);
  padding: 2.5rem;
  text-align: right;
  position: relative;
  display: grid;
  justify-items: end;
}

.introducao h1 {
  font-size: 2rem;
}

.introducao::before{
  content: "";
  width: 3.75rem;
  height: 0.25rem;
  background:  var(--cor-primaria);
  position: absolute;
  top: 1.875rem;
  right: -1.875rem;
}

.introducao-cover img{
  object-fit: cover;
  height: 100%;
}

.botao {
  background:  var(--cor-primaria);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  align-content: center;
}

.botao:hover {
  background: var(--cor-primaria-escura);
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--subtitulo);
  text-align: right;
  padding: 2.5rem;
  align-self: center;
  background-image: var(--onda);
}

.vantagens {
  background: var(--fundo-2);
  padding: 2.5rem;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
  border-left: 4px solid transparent;
}

.vantagens-item:nth-child(odd) {
  background: var(--fundo-1);
}

.vantagens-item:hover {
  border-color:  var(--cor-primaria);
}

.vantagens-item p {
  grid-column: 2;
}

.rodape {
  background: var(--fundo-2);
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .conteudo-vantagem {
    grid-template-columns: 1fr;
  }

  .subtitulo {
    text-align: center;
  }
}

@media (max-width: 600px) {
  body {
    gap: 30px;
    margin-top: 20px;
  }

  .header {
    gap: 30px;
  }

  .conteudo {
    grid-template-columns: 1fr;
  }

  .introducao {
    text-align: left;
    justify-items: start;
  }

  .introducao::before {
    display: none;
  }

  .subtitulo{
    font-size: 3rem;
  }
}