[required] {
  border: 2px solid tomato;
}

p[required] {
  border: 2px solid tomato;
}

a[href="#contato"] {
  border: 2px solid greenyellow;
}

[href^="#"] {
  background: tomato;
}

[href$=".com"] {
  background: palevioletred;
}

section > h2 {
  color: tomato;
}

p {
  margin: 0px;
}

article {
  background: lightgreen;
  padding: 10px;
}

p + p  {
  margin-top: 20px;
}

* {
  border: 2px solid paleturquoise;
}
